<%= form_for @idea, html: { multipart: true } do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :Idea %><br>
    <%= f.text_field :Idea %>
  </div>
  <div class="field">
    <%= f.label :Destination %><br>
    <%= f.text_field :Destination %>
  </div>
  <div class="field">
    <%= f.label :Start %><br>
    <%= f.date_select :Start %>
  </div>
  <div class="field">
    <%= f.label :End %><br>
    <%= f.date_select :End %>
  </div>
  <div class="field">
    <%= f.label :Tags, "Tags (separate by commas)" %><br>
    <%= f.text_field :Tags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
