<%= form_for @idea, html: { multipart: true } do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% f.label :latitude %>
    <% f.text_field :latitude, class: "form-control" %>
  </div>
  <div class="field">
    <% f.label :longitude %><br>
    <% f.text_field :longitude, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Idea %><br>
    <%= f.text_field :Idea, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Destination %><br>
    <%= f.text_field :Destination, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Tags, "Tags (separate by commas)" %><br>
    <%= f.text_field :Tags, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <strong>Start</strong><br>
    <%= f.date_select :Start, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <strong>End</strong><br>
    <%= f.date_select :End, :order => [:month, :day, :year] %>
  </div>
  <div class="actions"><br>
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>