<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Travel Ideas</h1>
</div>
<table id="ideas" class="display">
  <thead>
    <tr>
      <th>Idea</th>
      <th>User</td>
      <th>Destination</th>
      <th>Start</th>
      <th>End</th>
      <th>Tags</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.Idea %></td>
        <td><%= idea.user.name if idea.user %></td>
        <td><%= idea.Destination %></td>
        <td><%= idea.Start %></td>
        <td><%= idea.End %></td>
        <td><%= idea.Tags %></td>
        <td><button type="button" class="btn btn-alert btn-xs"><%= link_to 'Show', idea %></button></td>
        <!--<% if idea.user == current_user %>
          <td><%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <% end %>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path, class: "btn btn-primary" %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>