<p id="notice"><%= notice %></p>

<p>
  <strong>Idea:</strong>
  <%= @idea.Idea %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @idea.Destination %>
</p>

<p>
  <strong>Start:</strong>
  <%= @idea.Start %>
</p>

<p>
  <strong>End:</strong>
  <%= @idea.End %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @idea.Tags %>
</p>

<div id="comments">
  <h2>
    <%= @idea.comments.count %>
  </h2>
    <%= render @idea.comments %>
  <h3>Reply to thread</h3>
    <%= render "comments/form" %>
</div>

<% if @idea.user == current_user %>
  <%= link_to 'Edit', edit_idea_path(@idea) %> |
<% end %>
<%= link_to 'Back', ideas_path %>